package ${package};

import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;

@Mapper
public interface ${entityName}Mapper{

    ${entityName}Mapper INSTANCE = Mappers.getMapper(${entityName}Mapper.class);

    ${entityName} toEntity(${entityName}Dto dto);
    ${entityName}Dto toDto(${entityName} entity);

}
